{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}

{% if app.user %}

    <div>
        <h1>Bem vindos(as) as suas contas! </h1>
    </div>

     <a href="{{ path('app_cliente_listar', {id:app.user.id}) }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Acessar Contas</button>
    </a>

{% endif %}
    

{% if not app.user %}

<div class="example-wrapper">
    <div>
        <h1>Bem vindos(as) ao Sitema Bancário! </h1>
    </div>
    
    <div> 
        <a href="{{ path('app_agencia') }}">
            <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Listar Agências Bancárias</button>
        </a>

        <a href="{{ path('app_depositar') }}">
            <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Fazer um Depósito</button>
        </a>
        
    </div>

</div>

{% endif %}
    
    

{% endblock %}
