{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <h1>Bem vindos(as) ao Sitema Bancário! </h1>
    </div>
    
    <div> 
        <h5>Se você ainda não é cliente conheça nossas agências e abra sua conta!</h5>
        
        <a href="{{ path('app_agencia') }}"> Listar Agências Bancárias </a>

        <h5>Se você já é cliente faça login na sua conta!</h5>
        
        <a href="{{ path('app_agencia') }}"> Fazer Login em uma Conta</a>
    </div>

</div>
    
    

{% endblock %}
