{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    
    {{ form_start(form) }}
        <h3>Preencha as informações para adicionar uma nova Agência</h3>

         <div>
            <button type="Salvar">Salvar</button>
        </div>

        <div>
            <button type="Cancelar">Cancelar</button>
        </div>
    {{ form_end(form) }}
       
{% endblock %}
