{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}
  
    {{ form_start(form) }}
        <h3>Preencha as informações para adicionar uma nova Agência</h3>
    {{ form_end(form) }}
    <div>
        <button class="bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Salvar</button>
    
        <a href="{{ path('app_agencia') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
            Cancelar
        </a>
    </div>    
{% endblock %}
