{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}

    <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium">
        {{ form_start(formConta) }}
        
        {{ form_end(formConta) }}
    </label>  
{% endblock %}