{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
 <div>
        <a href="{{ path('app_agencia_admin') }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Visualizar Agências</button>
        </a>
        <a href="{{ path('app_conta_admin') }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Visualizar Contas</button>
        </a>
        <a href="{{ path('app_gerente_admin') }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Visualizar Gerentes</button>
        </a>
</div>
{% endblock %}