{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}

    <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium">
        <h1> As funcionalidades de Gerente estão em desenvolvimento!!</h1>
        <div>
            <a href="{{ path('app_gerente_admin') }}">
                <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Voltar</button>
            </a>
        </div>
    
    </label>  
{% endblock %}