{% extends 'base.html.twig' %}

{% block title %}Hello GerenteController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div>

        {% if gerentes|length > 0 %}
            {% for gerente in gerentes %}
                <h4>___________________</h4>
                <h4>Nome: {{gerente.nome}} </h4>
                <h4>Agencia: {{gerente.agencia}}</h4>
        
            {% endfor %}
        {% else %}
            Nenhuma conta cadastrada
        {% endif %}

        <h4>___________________</h4>
    </div>
    <a href="{{ path('app__admin_gerente_add') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
            Adicionar Gerente
    </a>
    
    <a href="{{ path('app_admin') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
            Voltar
    </a>
    
</div>
{% endblock %}
